<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.photoapp"
android:versionCode="1"
android:versionName="1.0" >
<uses-sdk
android:minSdkVersion="14"
android:targetSdkVersion="21" />
<uses-feature
android:name="android.hardware.camera"
android:required="true" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<application
	android:allowBackup="true"
	android:icon="@drawable/logo"
	android:label="@string/app_name"
	android:largeHeap="true"
	android:theme="@style/AppTheme" >
	<activity
		android:name="photoapp.AppStart"
		android:label="@string/app_name" >
		<intent-filter>
			<action android:name="android.intent.action.MAIN" />
			<category android:name="android.intent.category.LAUNCHER" />
		</intent-filter>
	</activity>
	<activity
		android:name="photoapp.GridActivity"
		android:label="@string/app_name"
		>
		<intent-filter>
			<action android:name="android.intent.action.VIEW" />
			<category android:name="android.intent.category.DEFAULT" />
		</intent-filter>
		<intent-filter>
			<action android:name="android.intent.action.SEARCH" />
		</intent-filter>
		<meta-data
			android:name="android.adapter.searchable"
			android:resource="@xml/searchable" />
		<meta-data
			android:name="android.adapter.default_searchable"
			android:value=".GridActivity" />
	</activity>
	<activity
		android:name="activities.TesterActivity"
		android:label="@string/title_activity_tester"
		android:parentActivityName="photoapp.GridActivity" >
	</activity>
	<activity
		android:name="photoapp.IndividualActivity"
		android:label="@string/title_activity_display_message"
		android:parentActivityName="photoapp.GridActivity" >
		<meta-data
			android:name="android.support.PARENT_ACTIVITY"
			android:value="photoapp.IndividualActivity" />
	</activity>
	<activity
		android:name="photoapp.AlbumActivity"
		android:label="@string/app_name" >
	</activity>
		<!-- Search results activity -->
	<activity
		android:name="photoapp.SearchResultsActivity"
		android:parentActivityName="photoapp.GridActivity" >
	</activity>
</application>
</manifest>